@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }

  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    
  }

  .main-intro {
    text-align: center;
    height: 100vh;
    background-image: url("../images/mainbg.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    z-index: 1;
    padding-top: 1px;
    color: whitesmoke;
    
  }
 
 /* Contact form */

 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
 }

 input[type=submit] {
  background-color: #04aa6d;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }

 input[type=submit]:hover {
  background-color: #333;
  transition: 0.3s;
 }
 
 .emailform {
  border-radius: 5px;
  background-color: #f2f2f2;
  opacity: 0.8;
  padding: 20px;
  margin: 10em;
 }